<h1>Detalles del producto</h1>
<div class="product-block">
  <img src="/assets/funko.jpg" width="200" >
</div>

<div class="product-block">
  <h3>nombre producto</h3>
  <div class="product-info">
    <p>codigo:</p>
    <p>precio: $ <button type="button" class="btn btn-dark" style="background-color: #970000;" (click)="carrito()">Agregar</button></p>
  </div>
</div>

 
  <div class="card text">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Descripccion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Caracteristicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"aria-current="true" href="#">Comentarios</a>
        </li>
      </ul>
    </div>
    
    <div class="card-body">
      <h5 class="card-title">Descripccion dep producto</h5>
      <p class="card-text">Descripccion del producto</p>
      
    </div>
  </div>
