<h1>Informacion de Envio</h1>
  <form>
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label" >Nombre del destinatario</label>
      <input type="name" style=" font-weight: bold;" placeholder="Nombre y Apellido">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Telefono de Contacto</label>
      <input type="" style=" font-weight: bold;" placeholder="telefono / Celular">
      <label for="exampleInputEmail1" class="form-label" >calle</label>
      <input type="street" style=" font-weight: bold;">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Colonia </label>
      <input type="text">
      <label for="exampleInputEmail1" class="form-label">Numero</label>
      <input type="text" placeholder="No. exterior">
      <label for="exampleInputEmail1" class="form-label" >Codigo postal</label>
      <input type="text" placeholder="XXXX">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Ciudad</label>
      <input type="text">
      <label for="exampleInputEmail1" class="form-label" >Estado</label>
      <input type="text">
    </div>
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15043.052735775267!2d-99.0524176686645!3d19.508821851965962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fa94a2bf91f9%3A0x700d93a5d515a259!2sTecNM%20-%20Tecnol%C3%B3gico%20de%20Estudios%20Superiores%20de%20Ecatepec!5e0!3m2!1ses-419!2smx!4v1653007338194!5m2!1ses-419!2smx" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <button type="submit" class="btn btn-dark" style="background-color: #970000;"  (click)="Mostrarprod()">Continuar</button> 
    <button type="submit" class="btn btn-dark" style="background-color: #970000;"  (click)="Mostrarprod()">Cancelar</button>
  </form>
