<!-----------------------------------Navbar---------------------------------->>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Los Bichos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agregar Excel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Herramientas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Accion 1</a></li>
            <li><a class="dropdown-item" href="#">Accion 2</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<!---------------Texto----------------------------------->
<div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
  <p>
    Ejemplo de texto imformativo :D 
  </p>
</div>
<!----------------------Tabla---------------------------->
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Ejemplo 1</li>
  <li class="list-group-item">Ejemplo 2</li>
  <li class="list-group-item">Ejemplo 3</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Ejemplo 4</li>
  <li class="list-group-item">Ejemplo 5</li>
  <li class="list-group-item">Ejemplo 6</li>
</ul>
<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item">Ejemplo 7</li>
  <li class="list-group-item">Ejemplo 8</li>
  <li class="list-group-item">Ejemplo 9</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item">Ejemplo 10</li>
  <li class="list-group-item">Ejemplo 11</li>
  <li class="list-group-item">Ejemplo 12</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item">Ejemplo 13</li>
  <li class="list-group-item">Ejemplo 14</li>
  <li class="list-group-item">Ejemplo 15</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Ejemplo 16</li>
  <li class="list-group-item">Ejemplo 17</li>
  <li class="list-group-item">Ejemplo 18</li>
</ul>