
<h1>Carrito de compras</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">No. producto</th>
        <th scope="col">Producto</th>
        <th scope="col">cantidad</th>
        <th scope="col">precio</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Nombre producto</td>
        <td>
          <input type="number" class="form-control" >
        </td>
        <td> <input type="" class="form-control" ></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nombre producto</td>
        <td>
          <input type="number" class="form-control" >
        </td>
        <td> <input type="" class="form-control" ></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nombre producto</td>
        <td>
          <input type="number" class="form-control" >
        </td>
        <td> <input type="money" class="form-control" ></td>
      </tr>
      <th scope="row">total</th>
      <td colspan="2"></td>
      <td><input type="" class="form-control" class="dark" >
      </td>

    </tbody>

    <button type="button" class="btn btn-dark" style="background-color: #970000;">Continuar con el proceso</button>