<h1 div style='text-align:center'>principales productos</h1>
  <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto 1</h5>
        <p class="card-text">Informacion del producto</p>
        <p class="card-text">precio: $</p>
        <button>mas informacion</button>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto 2</h5>
        <p class="card-text">Informacion del producto</p>
        <p class="card-text">precio: $</p>
        <button>mas informacion</button>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto 3</h5>
        <p class="card-text">Informacion del producto</p>
        <p class="card-text">precio: $</p>
        <button>mas informacion</button>
      </div>
    </div>
  </div>
