<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" color="#000000">Siguiente</a>
      </li>
      <li class="page-item"><a class="page-link" href="#" style="background-color: #970000;">1</a></li>
      <li class="page-item"><a class="page-link" href="#" style="background-color: #970000;">2</a></li>
      <li class="page-item"><a class="page-link" href="#" style="background-color: #970000;" >3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" style="color:#000000">Anterior</a>
      </li>
    </ul>
  </nav>

  <ul class="nav justify-content-center navbar-dark" style="background-color: #970000;">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Soporte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Mas informacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">POLITICA DE PRIVACIDAD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">CONDICIONES DE USO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="color:#ffffff">Los bichos @ 2022</a>
    </li>
  </ul>
  
